#login-field form fieldset {
  border: none;
}

#login-field form fieldset legend {
  margin-bottom: 2.4rem;

  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.4rem;
  
  color: var(--color-text-title);
}

.login-options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2.4rem;
}

.login-options a,
.login-options a:active,
.login-checkbox {
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: var(--color-text-complement);
}

#login-footer {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-footer a,
#login-footer a:active {
  color: var(--color-primary);
  font-weight: bold;
}

.login-footer-heart {
  font-size: 1.2rem;
}

.faHeart {
  color: var(--color-primary-lighter);
}

@media (min-width: 1100px) {
  #login-field form fieldset legend {
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }

  .login-options {
    margin-bottom: 4rem;
  }

  .login-options a {
    font-size: 1.4rem;
  }

  #login-footer {
    margin-top: 12.8rem;
  }
}